* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "regular";
    src: url(font/Champagne\ &\ Limousines.ttf);
}

@font-face {
    font-family: "bold";
    src: url(font/Champagne\ &\ Limousines\ Bold.ttf);
}

@font-face {
    font-family: "minya";
    src: url(font/Minya\ DEMO.otf);
}

@font-face {
    font-family: "caprasimo";
    src: url(font/Caprasimo-Regular.ttf)
}

body{
    background-color: #FFECC4;
}


.header{
 width: 1512px;
 height: 801px;
 background-image: url(img/img/banner3.png);
 display: flex;
 flex-direction: column;
}

.cima{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logo{
    font-family: "minya";
    font-size: 70px;
    color: #FBF6E2;
}

.redes{
    position: absolute;
    right: 117px;
}

.facebook{
    position: absolute;
    right: 80px;
}

.instagram{
    position: absolute;
    right: 30px;
}

.email{
    position: absolute;  
}

.linha{
    width: 90%;
    height: 2px;
    background-color: #FFECC4;
    position: absolute;
    top: 100px;
    left: 70px;
}

.baixo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

p{
    font-family: "bold";
    font-size: 20px;
    color: #FFECC4;
}

a{
    text-decoration: none;
    color: inherit;
}

.inicio{
    position: absolute;
    left: 40%;
}

.cardapio{
    position: absolute;
    left: 47%;
}

.reservas{
    position: absolute;
    left: 56%;
}
.titulo1{
    font-family: "caprasimo";
    color:#FFECC4;
    font-size: 96px;
    position: absolute;
    bottom: 21%;
    right: 5%;
    text-align: right;
}

.p1{
    font-family: "bold";
    font-size: 30px;
    color: #FFECC4;
    text-align: right;
    position: absolute;
    top: 89%;
    left: 42.5%;
}

.titulo2{
    font-family: "minya";
    color:#EB638E;
    font-size: 96px;
    position: absolute;
    bottom: -72%;
    right: 21%;
    text-align: left;
}

.comida5{
    width: 564px;
    height: 752px;
    position: absolute;
    top: 85%;
}

.comida6{
    width: 736px;
    height: 1104px;
    position: absolute;
    top: 184%;
    left: 51%;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.data{
    width: 324px;
    height: 62px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF6E2;
    position: absolute;
    right: 35%;
    top: 181%;
}

.pdata{
    font-family: "bold";
    font-size: 30px;
    color: black;
    padding-right: 40px;
}

.calendario{
  position: absolute;  
  left: 87%;
}

.horario{
    width: 324px;
    height: 62px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF6E2;
    position: absolute;
    right: 35%;
    top: 196%;
}

.phora{
    font-family: "bold";
    font-size: 30px;
    color: black;
    padding-right: 40px;
}

.relogio{
  position: absolute;  
  left: 87%;
}

.pessoas{
    width: 428px;
    height: 62px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF6E2;
    position: absolute;
    right: 28%;
    top: 211%
}

.ppessoa{
    font-family: "bold";
    font-size: 30px;
    color: black;
}

.titulo3{
    font-family: "minya";
    color:#EB638E;
    font-size: 96px;
    position: absolute;
    bottom: -155%;
    right: 60%;
    text-align: left;
}

.nome{
    width: 511px;
    height: 62px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #FBF6E2;
    position: absolute;
    right: 61%;
    top: 267%;
}

.pnome{
    font-family: "bold";
    font-size: 30px;
    color: black;
    padding-left: 25px;
}

.telefone{
    width: 342px;
    height: 62px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #FBF6E2;
    position: absolute;
    right: 72.3%;
    top: 299%;
}

.pcel{
    font-family: "bold";
    font-size: 30px;
    color: black;
    padding-left: 25px;
}

.gmail{
    width: 399px;
    height: 62px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #FBF6E2;
    position: absolute;
    right: 68.5%;
    top: 283%;
}

.pemail{
    font-family: "bold";
    font-size: 30px;
    color: black;
    padding-left: 25px;
}

button{
    font-family: "bold";
    font-size: 30px;
    width: 399px;
    height: 62px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB638E;
    position: absolute;
    right: 68.5%;
    top: 329%;
    
}

/* footer */
footer{
    height: 354px;
    background-color: #EB638E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 99%;
}

.lorem1{
  display: flex;
  flex-direction: column;  
}

.top1{
    display: flex;
  flex-direction: column; 
   font-family: "regular";
   font-size: 16px ;
   color: white;
}

.lorem2{
    display: flex;
    flex-direction: column;  
  }
  
  .top2{
      display: flex;
    flex-direction: column; 
     font-family: "regular";
     font-size: 16px ;
     color: white;
  }

