* {
  margin: 0;
  border: 0;
  padding: 0;
}

@font-face {
  font-family: "regular";
  src: url(font/Champagne\ &\ Limousines.ttf);
}

@font-face {
  font-family: "bold";
  src: url(font/Champagne\ &\ Limousines\ Bold.ttf);
}

@font-face {
  font-family: "minya";
  src: url(font/Minya\ DEMO.otf);
}

@font-face {
  font-family: "caprasimo";
  src: url(font/Caprasimo-Regular.ttf)
}

body{
  background-color: white;
}


header{
width: 1512px;
height: 1111px;
background-color: #BFBCDB;
display: flex;
flex-direction: column;
}

.cima{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 74px;
}

.curiosidades{
  font-family: "minya";
  font-size: 40px;
  color: white;
  margin-left: -57px;
}

.menu{
  width: 76px;
  height: 76px;
}

.iconPorta{
  width: 73px;
  height: 84px;
  margin-right: -57px;
}

.corpo{
  display: flex;
  flex-direction: row;
}

.esquerda{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 374px;
  right: 61%;

}

.p1{
  font-family: "regular";
  font-size: 30px;
  color: white;
}

.friends{
  font-family: "minya";
  font-size: 128px;
  color: white;
  margin-top: 38px;
    margin-bottom: 42px;
}

.botao{
  position: absolute;
  top: 115%;
  left: -6%;
}

.saibaMais{
  font-family: "minya";
  font-size: 30px;
  color: #F8BC4A;
  position: absolute;
  top: 27%;
  left: 25%;
}

.capa{
  width: 679px;
  height: 461px;
  position: absolute;
  left: 51%;
  top: 369px;
}

a{
  transition: ease-in-out 0.3s;
}
a:hover { 
    transform: scale(1.1);  
}

.textos{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 4%;
  top: 209%;
}

.p2{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 44px;
}

p{
  font-family: "regular";
  font-size: 30px;
  color: #BFBCDB;
}

.quadrado1{
  width: 837px;
  height: 879px;
  background-color: #F8BC4A;
  position: absolute;
}

.abertura{
  position: absolute;
  top: 1285px;
    left: 210px;
}

.titulo1{
 font-family: "minya";
 font-size: 128px;
 color: #B92F2A;
 position: absolute;
 left: 48px;
    top: 276%;
}


/* parte2 */
.textos2{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 64%;
  top: 343%;

}

.p3{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}
.quadrado2{
  width: 837px;
  height: 879px;
  background-color: #986B41;
  position: absolute;
  top: 326%;
    right: 0%;
}

.fonte{
  position: absolute;
  top: 335%;
  right: 231px;
}

.titulo2{
 font-family: "minya";
 font-size: 128px;
 color: #F8BC4A;
 position: absolute;
 right: 5%;
top: 412%;
text-align: right;
}

/* parte3 */
.textos3{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 4%;
  top: 515%;
}

.p4{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}

.quadrado3{
  width: 837px;
  height: 879px;
  background-color: #B92F2A;
  position: absolute;
  top: 481%;
}

.centralPerk{
  position: absolute;
  top: 506%;
  left: 210px;
}

.titulo3{
 font-family: "minya";
 font-size: 128px;
 color: white;
 position: absolute;
 left: 13%;
 top: 588%;
}


/* parte4 */
.textos4{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 64%;
  top: 657%;
}

.p5{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}
.quadrado4{
  width: 837px;
  height: 879px;
  background-color: #F8BC4A;
  position: absolute;
  top: 481%;
    right: 0%;
}

.jennifer{
  position: absolute;
  top: 660%;
  right: 231px;
}

.titulo4{
 font-family: "minya";
 font-size: 128px;
 color: #B92F2A;
 position: absolute;
 right: 5%;
 top: 588%;
text-align: right;
}