@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{

    font-family: 'Shrikhand', arial;
}

.texto{
    font-family: "Roboto-Bold"
}

h1{
    font-size: 50px;
}

p{
    font-size: 25px;
}
body{
    background-color:#F3EEE8 ;
}
.estrela{
    width:50px ;
}

img{    
    border-radius: 20px;
}


.menu{
    padding-right: 500px;
    padding-left: 500px;
    width: 50px;
    height: 50px;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inicio{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atualmente{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 100px;
    padding-right: 100px;
}

.texto2{
    padding-left: 150px;
}

.game{
    padding-right: 50px;
}

.filmes{
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagem1{
    background-color: white; 
    padding: 50px;
    margin-right: 100px;   
}

.handmaiden{
height: 700px;
width: 500px;
}

.ratatouille{
    height: 700px;
    width: 500px;
    }

    .favoritos{
        margin-left: 250px;
        margin-top: 200px;
    }