* {
  margin: 0;
  border: 0;
  padding: 0;
}

@font-face {
  font-family: "regular";
  src: url(font/Champagne\ &\ Limousines.ttf);
}

@font-face {
  font-family: "bold";
  src: url(font/Champagne\ &\ Limousines\ Bold.ttf);
}

@font-face {
  font-family: "minya";
  src: url(font/Minya\ DEMO.otf);
}

@font-face {
  font-family: "caprasimo";
  src: url(font/Caprasimo-Regular.ttf)
}

body{
  background-color: white;
}


header{
width: 1512px;
height: 1111px;
background-color: #BFBCDB;
display: flex;
flex-direction: column;
}

.cima{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 74px;
}

.curiosidades{
  font-family: "minya";
  font-size: 40px;
  color: white;
  margin-left: -57px;
}

.menu{
  width: 76px;
  height: 76px;
}

.iconPorta{
  width: 73px;
  height: 84px;
  margin-right: -57px;
}

.corpo{
  display: flex;
  flex-direction: row;
}

.esquerda{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 374px;
  right: 61%;

}

.p1{
  font-family: "regular";
  font-size: 30px;
  color: white;
}

.friends{
  font-family: "minya";
  font-size: 128px;
  color: white;
  margin-top: 38px;
    margin-bottom: 42px;
}

.botao{
  position: absolute;
  top: 115%;
  left: -6%;
}

.saibaMais{
  font-family: "minya";
  font-size: 30px;
  color: #F8BC4A;
  position: absolute;
  top: 27%;
  left: 25%;
}

.capa{
  width: 679px;
  height: 461px;
  position: absolute;
  left: 51%;
  top: 369px;
}

a{
  transition: ease-in-out 0.3s;
}
a:hover { 
    transform: scale(1.1);  
}

.textos{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;

}

.p2{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
}

p{
  font-family: "regular";
  font-size: 30px;
  color: #BFBCDB;
}

.quadrado1{
  width: 837px;
  height: 879px;
  background-color: #F8BC4A;
  position: absolute;
}

.abertura{
  position: absolute;
}

.titulo1{
 font-family: "minya";
 font-size: 128px;
 color: #B92F2A;
 position: absolute;
}