* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "regular";
    src: url(font/Champagne\ &\ Limousines.ttf);
}

@font-face {
    font-family: "bold";
    src: url(font/Champagne\ &\ Limousines\ Bold.ttf);
}

@font-face {
    font-family: "minya";
    src: url(font/Minya\ DEMO.otf);
}

@font-face {
    font-family: "caprasimo";
    src: url(font/Caprasimo-Regular.ttf)
}

body{
    background-color: #F3EEE8;
}

header{
    width: 1512px;
    display: flex;
    flex-direction: row;
    background-color: #F3EEE8 ;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 120px;
}

.logo{
    font-size: 48px;
    color: #F8C0C9;
    text-align: center;
    margin-left: -10%;
}

.estrela{
    margin-right: -11%;
    width: 110px;
    height: 101.67px;
}

.menu{
    width: 76px;
    height: 76px;
}

h1{
    font-family: "minya";
    font-size: 80px;
}

p{
    font-family: "bold";
    font-size: 32px;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.nome{
    color: #F8C0C9;
}

.descricao{
    text-align: center;
}

.maratonando{
    text-align: right;
    margin-top: 114px;
    margin-left: 6%;
}

.curiosidade{
    display: flex;
    flex-direction: row;
}

.got{
    width: 583px;
    height: 400px;
    background-color: #E3D9CD;
    border-radius: 10px;
   display: flex;
   align-items: center;
    justify-content: center;
    position: absolute;
    right: 4%;
    top: 110%;
}

.titulo1{
    color: #F8C0C9;
margin-top: 216px;
margin-left: 6%;
margin-bottom: 60px;
}

.filmes{
    width: 786px;
    height: 563px;
    background-color: #E3D9CD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-bottom: 165px;
}

.filmeFav{
    display: flex;
   align-items: center;
    justify-content: center;
    margin-right: 44%;
}

.nomes{
position: absolute;
right: 8%;
top: 245%;
}

.nota{
    display: flex;
    justify-content: center; 
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 35px;
}

.nota1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 8%;
}

.letterboxd{
    width: 439px;
    height: 104px;
    margin-bottom: 35px;
}

.reviw1{
    margin-bottom: 35px;  
}

.coracao{
    width: 60px;
    height: 60px;
}

/* reviw2 */

.nota2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 4%;
}

.reviw2{
    margin-bottom: 35px;  
}

.coracao2{
    width: 60px;
    height: 60px;
}

.titulo2{
    color: #F8C0C9;
margin-top: 216px;
margin-left: 6%;
margin-bottom: 60px;
}

.series{
    width: 619px;
    height: 824px;
    background-color: #E3D9CD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -5%;
    margin-bottom: 165px;
}

.seriesFav{
    display: flex;
   align-items: center;
    justify-content: center;
    margin-right: 44%;
}

.nomes2{
position: absolute;
right: 8%;
top: 548%;
}

.titulo3{
    color: #F8C0C9;
margin-top: 216px;
margin-left: 6%;
margin-bottom: 60px;
display: flex;
justify-content: center;
}

.animes{
    width: 1250px;
    height: 719px;
    background-color: #E3D9CD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1%;
    margin-bottom: 17%;
}

.animesFav{
    display: flex;
    align-items: center;
     justify-content: center;
 }
.nomes3{
position: absolute;
right: 15%;
    top: 841%;
text-align: center;
}

.titulo4{
    color: #F8C0C9;
margin-top: 216px;
margin-left: 6%;
margin-bottom: 60px;
display: flex;
justify-content: center;
}

.lugar1{
    width: 1281px;
    height: 512px;
    display: flex;
    align-items: center;
    justify-content:  space-around;
    background-color: #E3D9CD ;
    border-radius: 10px; 
    margin-left: 133px;  
}

.lugar2{
    width: 1281px;
    height: 512px;
    display: flex;
    align-items: center;
    justify-content:  space-around;
    background-color: #E3D9CD ;
    border-radius: 10px; 
    margin-left: 133px;     
}

.lugar3{
    width: 1281px;
    height: 512px;
    display: flex;
    align-items: center;
    justify-content:  space-around;
    background-color: #E3D9CD ; 
    border-radius: 10px; 
    margin-left: 133px;    
}
/* footer */
footer{
    height: 354px;
    background-color: #F8C0C9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.lorem1{
  display: flex;
  flex-direction: column;  
}

.top1{
    display: flex;
  flex-direction: column; 
   font-family: "regular";
   font-size: 16px ;
   color: white;
}

.lorem2{
    display: flex;
    flex-direction: column;  
  }
  
  .top2{
      display: flex;
    flex-direction: column; 
     font-family: "regular";
     font-size: 16px ;
     color: white;
  }

  .logo2{
    color: white;
    font-size: 90px;
    font-family: "minya";
  }


