* {
  margin: 0;
  border: 0;
  padding: 0;
}

@font-face {
  font-family: "regular";
  src: url(font/Champagne\ &\ Limousines.ttf);
}

@font-face {
  font-family: "bold";
  src: url(font/Champagne\ &\ Limousines\ Bold.ttf);
}

@font-face {
  font-family: "minya";
  src: url(font/Minya\ DEMO.otf);
}

@font-face {
  font-family: "caprasimo";
  src: url(font/Caprasimo-Regular.ttf)
}

body{
  background-color: white;
}


header{
width: 1512px;
height: 1111px;
background-color: #BFBCDB;
display: flex;
flex-direction: column;
}

.cima{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 74px;
}

.curiosidades{
  font-family: "minya";
  font-size: 40px;
  color: white;
  margin-left: -57px;
}

.menu{
  width: 76px;
  height: 76px;
}

.iconPorta{
  width: 73px;
  height: 84px;
  margin-right: -57px;
}

.corpo{
  display: flex;
  flex-direction: row;
}

.esquerda{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 374px;
  right: 61%;

}

.p1{
  font-family: "regular";
  font-size: 30px;
  color: white;
}

.friends{
  font-family: "minya";
  font-size: 128px;
  color: white;
  margin-top: 38px;
    margin-bottom: 42px;
}

.botao{
  position: absolute;
  top: 115%;
  left: -6%;
}

.saibaMais{
  font-family: "minya";
  font-size: 30px;
  color: #F8BC4A;
  position: absolute;
  top: 27%;
  left: 25%;
}

.capa{
  width: 679px;
  height: 461px;
  position: absolute;
  left: 51%;
  top: 369px;
}

a{
  transition: ease-in-out 0.3s;
}
a:hover { 
    transform: scale(1.1);  
}

.textos{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 4%;
  top: 209%;
}

.p2{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 44px;
}

p{
  font-family: "regular";
  font-size: 30px;
  color: #BFBCDB;
}

.quadrado1{
  width: 837px;
  height: 879px;
  background-color: #F8BC4A;
  position: absolute;
}

.abertura{
  position: absolute;
  top: 1285px;
    left: 210px;
}

.titulo1{
 font-family: "minya";
 font-size: 128px;
 color: #B92F2A;
 position: absolute;
 left: 48px;
    top: 276%;
}


/* parte2 */
.textos2{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 64%;
  top: 343%;

}

.p3{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}
.quadrado2{
  width: 837px;
  height: 879px;
  background-color: #986B41;
  position: absolute;
  top: 326%;
    right: 0%;
}

.fonte{
  position: absolute;
  top: 335%;
  right: 231px;
}

.titulo2{
 font-family: "minya";
 font-size: 128px;
 color: #F8BC4A;
 position: absolute;
 right: 5%;
top: 412%;
text-align: right;
}

/* parte3 */
.textos3{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 4%;
  top: 515%;
}

.p4{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}

.quadrado3{
  width: 837px;
  height: 879px;
  background-color: #B92F2A;
  position: absolute;
  top: 481%;
}

.centralPerk{
  position: absolute;
  top: 506%;
  left: 210px;
}

.titulo3{
 font-family: "minya";
 font-size: 128px;
 color: white;
 position: absolute;
 left: 13%;
 top: 588%;
}


/* parte4 */
.textos4{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 64%;
  top: 642%;
}

.p5{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}
.quadrado4{
  width: 837px;
  height: 879px;
  background-color: #F8BC4A;
  position: absolute;
  top: 636%;
    right: 0%;
}

.jennifer{
  position: absolute;
  top: 645%;
  right: 231px;
}

.titulo4{
 font-family: "minya";
 font-size: 128px;
 color: #B92F2A;
 position: absolute;
 right: 5%;
 top: 722%;
text-align: right;
}

/* parte5 */
.textos5{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 4%;
  top: 797%;
}

.p6{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}

.quadrado5{
  width: 837px;
  height: 879px;
  background-color: #986B41;
  position: absolute;
  top: 790%;
}

.porta{
  position: absolute;
  top: 799%;
  left: 210px;
}

.titulo5{
 font-family: "minya";
 font-size: 128px;
 color: #F8BC4A;
 position: absolute;
 left: 5%;
 top: 881%; 
}


/* parte6 */
.textos6{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 64%;
  top: 948%;
}

.p7{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}
.quadrado6{
  width: 837px;
  height: 879px;
  background-color: #B92F2A;
  position: absolute;
  top: 944%;
    right: 0%;
}

.chandler{
  position: absolute;
  top: 953%;
  right: 231px;
}

.titulo6{
 font-family: "minya";
 font-size: 128px;
 color: white;
 position: absolute;
 right: 4%;
 top: 1034%;
text-align: right;
}


/* parte7 */
.textos7{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 4%;
  top: 1119%;
}

.p8{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}

.quadrado7{
  width: 837px;
  height: 879px;
  background-color: #F8BC4A;;
  position: absolute;
  top: 1099%;
}

.casamento{
  position: absolute;
  left: 210px;
  top: 1124%;
}

.titulo7{
 font-family: "minya";
 font-size: 128px;
 color: #B92F2A;
 position: absolute;
 left: 1%;
    top: 1204%;
}


/* parte8 */
.textos8{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 64%;
  top: 1282%;
}

.p9{
  font-family: "bold";
  font-size: 30px;
  color: #BFBCDB;
  margin-bottom: 77px;
}
.quadrado8{
  width: 837px;
  height: 879px;
  background-color: #986B41;
  position: absolute;
  top: 1252%;
    right: 0%;
}

.homenagem{
  position: absolute;
  top: 1276%;
  right: 231px;
}

.titulo8{
 font-family: "minya";
 font-size: 128px;
 color: #F8BC4A;
 position: absolute;
 right: 0%;
    top: 1357%;
text-align: right;
}


footer{
  height: 354px;
  width: 1520px;
  background-color: #BFBCDB;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 536%;
}
.logo{
  font-family: "minya";
  font-size: 80px;
  color: white;
}

.lorem1{
display: flex;
flex-direction: column;  
}

.top1{
  display: flex;
flex-direction: column; 
 font-family: "regular";
 font-size: 16px ;
 color: white;
}

.lorem2{
  display: flex;
  flex-direction: column;  
}

.top2{
    display: flex;
  flex-direction: column; 
   font-family: "regular";
   font-size: 16px ;
   color: white;
}


